openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
- name: Ближайший город
  description: Ближайший город
- name: Информация о перевозчике
  description: Информация о перевозчике
- name: Расписание рейсов между станциями
  description: Расписание рейсов между станциями
- name: Расписание рейсов по станции
  description: Расписание рейсов по станции
- name: Список станций следования
  description: Список станций следования
- name: Копирайт Яндекс Расписаний
  description: Копирайт Яндекс Расписаний
- name: Список всех доступных станций
  description: Список всех доступных станций
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - Список ближайших станций
      summary: getNearestStations
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/nearest_settlement/:
    get:
      tags:
      - Ближайший город
      summary: getNearestSettlement
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: false
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
  /v3.0/carrier/:
    get:
      tags:
      - Информация о перевозчике
      summary: getCarrierInformation
      operationId: getCarrierInformation
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: код перевозчика
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: система кодирования
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierInfo'
  /v3.0/search/:
    get:
      tags:
      - Расписание рейсов между станциями
      summary: getScheduleBTWStations
      operationId: getScheduleBTWStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: код станции прибытия
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: тип транспортного средства
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: система кодирования параметров to и from
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: система кодирования для ответа
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: сдвиг относительно первого рейса в ответе
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: ограничение на количество рейсов в ответе
        required: false
        schema:
          type: integer
      - name: add_days_mask
        in: query
        description: запрос календаря хождения рейсов
        required: false
        schema:
          type: boolean
      - name: result_timezone
        in: query
        description: часовой пояс
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: признак запроса маршрутов с пересадками
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleBTWStations'
  /v3.0/schedule/:
    get:
      tags:
      - Расписание рейсов по станции
      summary: getScheduleByStations
      operationId: getScheduleByStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: Код станции
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: тип транспортного средства
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: система кодирования параметров to и from
        required: false
        schema:
          type: string
      - name: direction
        in: query
        description: Код направления
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: Событие, для которого нужно отфильтровать нитки в расписании
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: Система кодирования, в которой необходимо получить коды станций
        required: false
        schema:
          type: string
      - name: result_timezone
        in: query
        description: Часовой пояс, для которого следует указывать даты и времена в ответе
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleByStations'
  /v3.0/thread/:
    get:
      tags:
      - Список станций следования
      summary: getStationsList
      operationId: getStationsList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: код станции прибытия
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: система кодирования для ответа
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfStations'
  /v3.0/copyright/:
    get:
      tags:
      - Копирайт Яндекс Расписаний
      summary: getCopyrightYandexSchedules
      operationId: getCopyrightYandexSchedules
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: true
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightYaSchedules'
  /v3.0/stations_list/:
    get:
      tags:
      - Список всех доступных станций
      summary: getAvailableStationsList
      operationId: getAvailableStationsList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/AvailableStations'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Settlement:
      type: object
      properties:
        distance:
          type: number
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number
        type:
          type: string
    CarrierInfo:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
        offices:
          type: array
          items:
            type: object
    Codes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    ScheduleBTWStations:
      type: object
      properties:
        search:
          $ref: '#/components/schemas/Search'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegment'
        pagination:
          $ref: '#/components/schemas/Pagination'
    IntervalSegment:
      type: object
      properties:
        thread:
          $ref: '#/components/schemas/Thread'
        stops:
          type: string
        from:
          $ref: '#/components/schemas/FromTo'
        to:
          $ref: '#/components/schemas/FromTo'
        departure_platform:
          type: string
        arrival_platform:
          type: string
        departure_terminal:
          type: string
        arrival_terminal:
          type: string
        duration:
          type: integer
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        start_date:
          type: string
    Segment:
      type: object
      properties:
        thread:
          $ref: '#/components/schemas/Thread'
        stops:
          type: string
        from:
          $ref: '#/components/schemas/FromTo'
        to:
          $ref: '#/components/schemas/FromTo'
        departure_platform:
          type: string
        arrival_platform:
          type: string
        departure_terminal:
          type: string
        arrival_terminal:
          type: string
        duration:
          type: integer
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        departure:
          type: string
          format: date-time
        arrival:
          type: string
          format: date-time
        start_date:
          type: string
    FromTo:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        transport_type:
          type: string
        type:
          type: string
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    Place:
      type: object
      properties:
        currency:
          type: string
          description: Идентификатор валюты, в которой указана цена
        price:
          $ref: '#/components/schemas/Price'
          description: Цена билета
        name:
          type: string
          description: Название типа билета (например, «эконом»)
    Price:
      type: object
      properties:
          cents:
            type: integer
            description: Целое число дополнительных единиц валюты (например, копеек или центов)
          whole:
            type: integer
            description: Целое число основных единиц валюты (например, рублей
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    TransportSubtype:
      type: object
      properties:
        title:
          type: string
        code:
          type: string
        color:
          type: string
    Search:
      type: object
      properties:
        date:
          type: string
          description: Дата, на которую получен список рейсов, в формате «YYYY-MM-DD»
        to:
          $ref: '#/components/schemas/FromTo'
          description: Информация об указанном в запросе пункте прибытия
        from:
          $ref: '#/components/schemas/FromTo'
          description: Информация об указанном в запросе пункте отправлени
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
        codes:
          $ref: '#/components/schemas/Codes2'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    ScheduleByStations:
      type: object
      properties:
        date:
          type: string
        station:
          $ref: '#/components/schemas/Station'
        pagination:
          $ref: '#/components/schemas/Pagination'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/Schedule2'
        interval_schedule:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSchedule'
        directions:
          type: array
          items:
            $ref: '#/components/schemas/Direction'
        schedule_direction:
          $ref: '#/components/schemas/ScheduleDirection'
    ScheduleDirection:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    Schedule2:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
        terminal:
          type: string
        platform:
          type: string
    Codes2:
      type: object
      properties:
        yandex:
          type: string
        esr:
          type: string
        express:
          type: string
    Direction:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    IntervalSchedule:
      type: object
      properties:
        except_days:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        terminal:
          type: string
        platform:
          type: string
    ListOfStations:
      type: object
      properties:
        number:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        short_title:
          type: string
        express_type:
          type: string
        transport_type:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        uid:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        days:
          type: string
        except_days:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        from:
          $ref: '#/components/schemas/FromTo'
        to:
          $ref: '#/components/schemas/FromTo'
        start_date:
          type: string
        arrival_date:
          type: string
        departure_date:
          type: string
        start_time:
          type: string
    Stop:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        duration:
          type: integer
        stop_time:
          type: integer
        station:
          $ref: '#/components/schemas/Station'
        terminal:
          type: string
        platform:
          type: string
    CopyrightYaSchedules:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/Copyright'
    Copyright:
      type: object
      properties:
        text:
          type: string
        url:
          type: string
        logo_vy:
          type: string
        logo_vm:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hm:
          type: string
        logo_hd:
          type: string
    AvailableStations:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
    Region:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
